{{#> base}}
    <h2>Password Reset Request</h2>
    <p>Hello {{username}},</p>
    <p>We received a request to reset your password. Click the button below to create a new password:</p>
    
    <div style="text-align: center;">
        <a href="{{resetLink}}" class="button">Reset Password</a>
    </div>
    
    <p>This password reset link will expire in {{expiration}}.</p>
    
    <p>If you did not request a password reset, please ignore this email or contact support if you have concerns.</p>
    
    <p>If you're having trouble clicking the button, copy and paste the following URL into your web browser:</p>
    <p style="word-break: break-all;">{{resetLink}}</p>
    
    <p>Best regards,<br>The {{companyName}} Team</p>
{{/base}} 