{{#> base}}
    <h2>Welcome to {{companyName}}!</h2>
    <p>Hello {{username}},</p>
    <p>Thank you for signing up. To complete your registration and verify your email address, please click the button below:</p>
    
    <div style="text-align: center;">
        <a href="{{verifyLink}}" class="button">Verify Email Address</a>
    </div>
    
    <p>This verification link will expire in {{expiration}}.</p>
    
    <p>If you did not create an account, no further action is required.</p>
    
    <p>If you're having trouble clicking the button, copy and paste the following URL into your web browser:</p>
    <p style="word-break: break-all;">{{verifyLink}}</p>
    
    <p>Best regards,<br>The {{companyName}} Team</p>
{{/base}}